<%= form_for ([@house, @house.viewings.new]) do |f| %>

<div class="row">

<div class="col-md-12">
<%= f.text_field :appointment_date, class: "form-control", placeholder: "Select Date" %>
</div>
<br>
<div class="col-md-12" style="display: none">
<%= f.collection_select :appointment_time, Viewing::TIMINGS, :to_s, :to_s, placeholder: "Select Timing" %>
</div>

</div>



  <%= f.hidden_field :house_id, value: @house.id %>
  <%= f.hidden_field :price, value: @house.price %>
  <br>
  <%= f.submit "Make Appointment", class: "btn btn-primary" %>
<% end %>

<script>
  $(function() {
    $('#viewing_appointment_date').datepicker({format:'dd-mm-yy', minDate: 0 });
  });
</script>
