<div id="wrapper">
  <div id="sidebar">
    <div id="widget" class="sticky">

    </div>
  </div>

  <div id="article">
    <div class="row">
      <%= search_form_for @search, url: search_path do |f| %>
        <div class="row">
          <div class="col-md-3">
            <%= f.text_field :listing_name, placeholder: "Listing Name", class: "form-control" %>
          </div>
        </div>

        <div class="row">
ff
        </div>

        <div class="row">
ff
        </div>

        <div class="row">
ff
        </div>
      <% end %>
    </div>




    <div class="row">
      <%= search_form @search, url: search_path do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= check_box_tag "q[home_type_eq_any][]", "HDB" %> HDB
          </div>
          <div class="col-md-4">
            <%= check_box_tag "q[home_type_eq_any][]", "Condo" %> Condo
          </div>
          <div class="col-md-4">
            <%= check_box_tag "q[home_type_eq_any][]", "Landed" %> Landed
          </div>
        </div>

        </div>







        <div class="row">
            <div class="row">
              <div class="col-md-4">
                <%= f.select :region, [["Central", Central], ["North", North],["South", South],["East", East], ["West", West]],
                prompt: "Select Region", class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.select :size, options_for_select([["Select One", ""], "Cell", "Work", "Office", "Home", "Other"]),
                prompt: "Select Price", class: "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.select :price, ['500000', '1000000', '2000000', '4000000'], :prompt => 'Select Price' %>
              </div>
            </div>
            </div>

<div class="row">
  <%= f.submit "Search", class: "btn btn-primary" %>
</div>

<% end %>
</div>
  </div>
